@import url("https://fonts.googleleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0.100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
} 

body {
  background-color: #101010;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: #4e4e4e;
  text-transform: uppercase;
  font-family: "IBM Plex Mono";
  font-size: 0.85rem;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.trail-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.trail-image {
  position: absolute;
  width: 175px;
  height: 175px;
  pointer-events: none;
}

.trail-image .mask-layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000; 
  will-change: clip-path;
} 

.trail-image .mask-layer .image-layer {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: translateY(0);
  z-index: 2;
}

